@model IEnumerable<QuanLyDaoTaoWeb.Models.TaiLieu>

@{
    ViewData["Title"] = "Quản Lý Tài Liệu";
}

<div class="container-fluid py-4">
    <a asp-action="IndexSinhVien" class="btn btn-info">
                <i class="fas fa-plus"></i> Quay lại
            </a>
    <div class="card shadow">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Danh Sách Tài Liệu</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover datatable">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.MaTL)</th>
                            <th>@Html.DisplayNameFor(m => m.TenTL)</th>
                            <th>@Html.DisplayNameFor(m => m.BaiGiang.MaBG)</th>
                            <th>@Html.DisplayNameFor(m => m.DuongDan)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.MaTL</td>
                                <td>@item.TenTL</td>
                                <td>@item.BaiGiang?.MaBG</td>
                                <td>
                                    <a href="@item.DuongDan" target="_blank">
                                        <i class="fas fa-file"></i> Xem tài liệu
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>